<div>
  <h1>Your Friends</h1>
  <div class='d-flex justify-content-center flex-wrap'>
    <% @friends.each do |friend| %>
      <div class='m-3'>
        <%= friend.name %> </br>
        <%= link_to "View Friend's Reviews", "/reviewer/#{friend.id}", class: "btn" %>
      </div>
    <% end %>
  </div>

  <h1>Potential Friends</h1>
  <div class='d-flex justify-content-center flex-wrap'>
    <% @users.each do |user| %>
      <% if current_user != user && !current_user.friends_with?(user) %>
        <div class='m-3'>
          <%= user.name %> </br>
          <%= link_to 'Add friend', friends_new_path(:friend => user.id), method: :post, class: 'btn'%>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
