// $navbar-default-bg: #312312;
// $light-orange: #ff8c00;
// $navbar-default-color: $light-orange;

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "jumpstart/sticky-footer";
@import "jumpstart/announcements";

// Fixes bootstrap nav-brand container overlap
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

// Masquerade alert shouldn't have a bottom margin
body > .alert {
  margin-bottom: 0;
}

body {
  min-height: 100vh;
  margin-bottom: 80px;
}

nav, footer {
  background-color: black;
}

.navbar-brand {
  color: #E50914!important;
}

.navbar-toggler-icon {
  background-color: white!important;
}

.nav-link {
  color: white!important;
}

.btn {
  background-color: #E50914;
}

.link {
  color: #E50914!important;
}

footer .container ul li a {
  color: #E50914!important;
}